body {
  font-family: "Tahoma", sans-serif;
  direction: rtl;
  text-align: center;
  background: #f9f9f9;
  margin: 0;
  padding: 0;
}

header {
  background: #00796b;
  color: white;
  padding: 15px;
}

nav button {
  margin: 5px;
  padding: 10px;
  background: #004d40;
  color: white;
  border: none;
  cursor: pointer;
}

section {
  margin: 20px;
}

.hidden {
  display: none;
}
